<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
     <servlet>
        <servlet-name>
            defaultValidate
        </servlet-name>
        <servlet-class>
            defaultValidate.Controller
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            defaultValidate
        </servlet-name>
        <url-pattern>
            /defaultValidate/Controller
        </url-pattern>
    </servlet-mapping>
  
  
    <servlet>
        <servlet-name>
            reorganized
        </servlet-name>
        <servlet-class>
            reorganized.Controller
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            reorganized
        </servlet-name>
        <url-pattern>
            /reorganized/Controller
        </url-pattern>
    </servlet-mapping>
  
  
    <servlet>
        <servlet-name>
            dataBean
        </servlet-name>
        <servlet-class>
            dataBean.Controller
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            dataBean
        </servlet-name>
        <url-pattern>
            /dataBean/Controller
        </url-pattern>
    </servlet-mapping>
  


    <servlet>
        <servlet-name>homework2</servlet-name>
        <servlet-class>homework2.Controller</servlet-class>
        <init-param>
            <param-name>logName</param-name>
            <param-value>bytesizebook.guide.ch4</param-value>
        </init-param>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>INFO</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>homework2</servlet-name>
        <url-pattern>/homework2/Controller</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Log4jInitServlet</servlet-name>
        <servlet-class>shared.InitLog4j</servlet-class>
        <init-param>
            <param-name>logPath</param-name>
            <param-value>/WEB-INF/logs/error.ch4.log</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    
</web-app>